﻿<div class="modal fade" id="chat" tabindex="-1" role="dialog" aria-labelledby="chatLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h3 class="modal-title" id="chatLabel">
                    Chat
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0">
                <div class="row">
                    <div id="discussionContainer" class="col border" style="height: 400px; height: 40vh; overflow-y: scroll; word-break: break-word;">
                        <div id="discussion" class="py-1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9 px-0">
                        <textarea type="text" id="message" maxlength="2000" style="width: 100%; height: 100%; min-height: 40px; max-height: 80px;"></textarea>
                    </div>
                    <div class="col-3 px-0">
                        <button type="button" id="sendmessage" class="btn btn-info btn-lg" style="width: 100%; height: 100%; max-height: 3em;">
                            <i class="fa fa-check pr-2"></i>
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>