﻿@inject AdventureMap.WebApp.Services.Fields.IFieldDescriptorProvider FieldDescriptorProvider
@{
    var startingFieldValue = -0.5d;
    var fieldDescriptors = FieldDescriptorProvider.GetAllFieldDescriptors();
}

<div class="modal fade" id="mapInfo" tabindex="-1" role="dialog" aria-labelledby="mapInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="mapInfoLabel">Map info</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <i class="fas fa-seedling pr-1"></i>
                    Map seed: <span id="mapSeed"></span>
                </p>

                <hr />

                <h5>
                    Legend:
                </h5>
                <p>
                    @{
                        var fieldValue = startingFieldValue;
                    }
                    @foreach (var fieldDescriptor in fieldDescriptors)
                    {
                        <div class="align-content-center">
                            <div class="d-inline-block text-left border border-dark align-middle position-relative overflow-hidden"
                                 style="height: 1.5em; width: 1.5em; background: @fieldDescriptor.Color.ToHex();">
                                @if (fieldDescriptor.IconInfo != null)
                                {
                                    <img src="@fieldDescriptor.IconInfo.FilePath" class="position-absolute" style="width: 1.5em; height: 1.5em;" />
                                }
                            </div>
                            <div class="d-inline align-middle">[@Math.Round(@fieldValue, 2); @(Math.Round(fieldValue + fieldDescriptor.Range.To, 2)))</div>
                            <div class="d-inline align-middle">&ndash; @fieldDescriptor.Name</div>
                        </div>
                        fieldValue += fieldDescriptor.Range.To;
                    }
                </p>

                <hr />

                <h5>
                    Acknowledgements
                </h5>

                <p>
                    Website icon and map fields icons are based on icons made by
                    <a href="https://freepik.com/" target="_blank">Freepik</a>
                    from <a href="https://flaticon.com" target="_blank">flaticon.com</a>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-check pr-1"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>