﻿<div class="modal fade" id="playerList" tabindex="-1" role="dialog" aria-labelledby="playerListLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="playerListLabel">
                    Players: <span class="badge badge-warning ml-1 playersCountBadge">0</span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul id="playerListContainer">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-check pr-1"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>