﻿<div class="modal fade" id="updatePlayerInfo" tabindex="-1" role="dialog" aria-labelledby="updatePlayerInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="updatePlayerInfoLabel">
                    Change your settings
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <labal id="playerNameLabel" name="playerName">
                        <i class="fas fa-portrait"></i>
                        Name:
                    </labal>
                    <input id="playerNameInput" class="form-control currentPlayerName" name="playerName" type="text" maxlength="30" />
                </div>
                <div class="form-group">
                    <labal id="playerColorLabel" name="playerColor">
                        <i class="fas fa-palette"></i>
                        Color:
                    </labal>
                    <input id="playerColorInput" class="form-control currentPlayerColor" name="playerColor" type="color" maxlength="30" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="updatePlayerInfoButton" type="button" class="btn btn-success" data-dismiss="modal">
                    <i class="fas fa-check pr-1"></i>
                    Change
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times pr-1"></i>
                    Discard
                </button>
            </div>
        </div>
    </div>
</div>