﻿.user-presence-notice {
    color: dimgray;
    text-align: center;
}

.message {

    &.message-client {

    }

    &.message-remote {

    }
}

.message-body {
    display: inline-block;
    padding: 4px 8px;
    margin: 4px 8px;
    border-radius: 6px;
    background-color: #ededed;
}

.vertical-horizontal-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.distant-outer-shadow {
    box-shadow: black 0px 0px 140px 30px;
}

.dark-brown-wood-border {
    border: 20px solid transparent;
    border-image-source: url(../img/dark-brown-wood.jpg);
    border-image-repeat: stretch;
    border-image-slice: 30;
}

.compass-on-map-bg {
    background-image: url(../img/compass-on-map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {
    0% {
        transform: scale(1,1) translateY(0);
    }

    10% {
        transform: scale(1.1,.9) translateY(0);
    }

    30% {
        transform: scale(.9,1.1) translateY(-1em);
    }

    50% {
        transform: scale(1,1) translateY(0);
    }

    100% {
        transform: scale(1,1) translateY(0);
    }
}
