﻿@model MapViewModel
@{
    ViewBag.Title = "Map";
}

<partial name="_Alerts/_Chat" />
<partial name="_Alerts/_UpdatePlayerInfo" />
<partial name="_Alerts/_HowToPlay" />
<partial name="_Alerts/_MapInfo" />
<partial name="_Alerts/_PlayerList" />

<div class="vertical-horizontal-align">

    <div>
        <button class="btn btn-primary float-left mr-2" type="button" data-toggle="modal" data-target="#playerList">
            <i class="fas fa-user-friends pr-1"></i>
            Online: <span class="badge badge-warning ml-1 playersCountBadge">0</span>
        </button>
        <button class="btn btn-primary float-left" type="button" data-toggle="modal" data-target="#chat">
            <i class="fas fa-comment pr-1"></i>
            Chat
            <span id="chatMessageNotification" class="badge badge-warning ml-1" style="display: none; animation-duration: 1.5s; animation-iteration-count: infinite;">0</span>
        </button>

        <button class="btn btn-light float-right text-center" type="button" data-toggle="modal" data-target="#updatePlayerInfo">
            <i class="fas fa-user pr-1"></i>
            <span class="currentPlayerName d-inline-block" style="min-width: 40px;"></span>
            <i class="fas fa-cog pl-1"></i>
        </button>
    </div>

    <canvas id="mapCanvas"
            class="distant-outer-shadow dark-brown-wood-border"
            data-columns="@Model.Columns"
            data-rows="@Model.Rows"
            data-field-size="@Model.FieldSize"
            width="@(Model.Columns * Model.FieldSize)"
            height="@(Model.Rows * Model.FieldSize)"
            style="background: #333; color: #eee; text-align: center;">
        Ups! It seems that your browser does not support canvas.
    </canvas>

    <div>
        <button id="regenerateMap" class="btn btn-lg btn-primary float-left" type="button">
            <i class="fas fa-map pr-1"></i>
            Generate new map
        </button>

        <button class="btn btn-lg btn-secondary float-right" type="button" data-toggle="modal" data-target="#howToPlay">
            <i class="fas fa-question-circle pr-1"></i>
            How to play?
        </button>
        <button class="btn btn-secondary float-right mr-2" type="button" data-toggle="modal" data-target="#mapInfo">
            <i class="fas fa-info-circle pr-1"></i>
            Map info
        </button>
        <div class="badge badge-light font-weight-normal float-right p-2 my-0 mr-2" style="font-size: initial;">
            <div>
                <div class="float-left">Render</div>
                <div class="float-right text-right" style="min-width: 5em">
                    <span id="renderedIn">0</span> ms
                </div>
            </div>
            <br />
            <div>
                <div class="float-left">Ping</div>
                <div class="float-right text-right" style="min-width: 5em">
                    <span id="ping">0</span> ms
                </div>
            </div>
            <br />
            <div>
                <div class="float-left">Fields</div>
                <div class="float-right text-right" style="min-width: 5em">
                    <span id="fieldsLoaded">0</span>
                </div>
            </div>
            <br />
            <div>
                <div class="float-left">Chunks</div>
                <div class="float-right text-right" style="min-width: 5em">
                    <span id="chunksLoaded">0</span>
                </div>
            </div>
        </div>
        <div class="badge badge-light font-weight-normal float-right p-2 my-0 mr-2" style="font-size: initial;">
            <i class="fas fa-map-marker-alt pr-1"></i>
            [<span id="playerPositionX" class="text-left" style="min-width: 5em">0</span>,
            <span id="playerPositionY" class="text-right" style="min-width: 5em">0</span>]
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_Scripts/_SignalRScripts" />
    <partial name="_Scripts/_SignalRMapScripts" />
}
