﻿<footer class="bg-secondary text-center py-1">
    <h3 class="text-center break-word font-weight-light">
        @Constants.ApplicationName
    </h3>
    <h5 class="text-center text-dark break-word m-0 pb-1">
        &copy; @DateTime.UtcNow.Year
    </h5>
</footer>
