﻿<div class="row pt-3">
    <div class="col">
        <h1 class="text-center text-danger">
            Error!
        </h1>
        <h3 class="text-center pt-4">
            It looks like something didn't go well.
            <br />
            Maybe try again?
        </h3>
    </div>
</div>