﻿<!DOCTYPE html>
<html>
<head>
    <partial name="_HeadMetaTags" />
    <title>@ViewBag.Title - @Constants.ApplicationName</title>
    <partial name="_Favicons" />
    <partial name="_StyleSheets/_HeadStyleSheets" />
</head>
<body class="compass-on-map-bg" style="height: 100%; width: 100%; overflow: hidden;">
    @RenderBody()
    <partial name="_Scripts/_FooterScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
