﻿<environment include="Development">
    <script src="~/js/CappedMap.js" asp-append-version="true"></script>
    <script src="~/js/map.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/CappedMap.min.js" asp-append-version="true"></script>
    <script src="~/js/map.min.js" asp-append-version="true"></script>
</environment>
